* {
 	margin: 0;
 	padding: 0;
 }

 .money {
 	position: absolute;
 	bottom: 0px;
 	left: 0;
 	width: 100%;
 }

 .money ul {
 	/* border-top: 1px solid gray; */

 }

 .money ul li {
 	display: flex;
 	/* border-bottom: 1px solid gray; */


 }

 .money ul li span {
	background: #fff;
	flex: 1;
	display: block;
	height: 60px;
	margin: 1px;
	line-height: 60px;
	text-align: center;
	font-size: 24px
 }
 body{
	 /* width: 100vw;
	 height: 100vh;
	 padding-top: 20px; */
	 background: #f0f0f0;
 }
.m10{
	margin: 10px;
}
.name{
	margin-top: 20px;
}
.inputbox{
	border-radius: 8px;
	height: 70px;
	background-color: #fff;
	padding: 15px;
	box-sizing: border-box;
	line-height: 35px;
	font-size: 35px;
}